*, body, fieldset {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	font-size: 16px;
}

body, input, button {
	font-family: weld-light;
	font-size: inherit;
}

h2 {
	font-size: 1.4em;
	margin-bottom: 1em;
}

/* ----- Editor ----- */

.weld-editor {
	background: #808689;
	position: absolute;
	left: 0;
	top: 4em; /* same as weld-toolbar-top:height */
	width: 100%;
	height: 100%;
}

.weld-canvas {
	position: relative;
	width: 320px;
	height: 400px;
	margin: 11vh auto;
	background: white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* ----- Editor panel (generic) and layers ----- */

.weld-editor-panel {
	position: absolute;
	box-sizing: border-box;
	z-index: 9000;
	border-radius: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	background: #efefef;
	color: #53585f;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.weld-editor-panel > * {
	flex-shrink: 0; /* never shrink */
}

.weld-editor-panel.layer1 {
	z-index: 8000;
	background-color: #ddd;
}
.weld-editor-panel.layer2 {
	z-index: 9000;
	background-color: #efefef;
}
.weld-editor-panel.layer3 {
	z-index: 11000;
	background-color: #f9f9f9;
}

/* ----- Side panels & Toolbar ----- */

.weld-editor-panel.side-panel {
	width: 20vw;
	padding: 1rem;
	top: 0;
	bottom: 0;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
	flex-direction: column;
	overflow-y: auto;
}
.weld-editor-panel.side-panel.right {
	right: 0;
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
}

.weld-toolbar-top {
	height: 4em; /* same as side-panel:top */
	width: 100%;
	padding: 0 1rem;
}

.weld-toolbar-bottom {
	bottom: 0;
	left: 0;
	right: 0;
	height: 10vh;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
}

.weld-logo {
	height: 4vh;
}

/* ----- Dialog ----- */

.weld-dialog {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 64vw;
	max-width: 40em;
	min-height: 15em;
	border-radius: 4px;
	padding: 1em;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
	flex-direction: column;
	justify-content: flex-start;
}

/* ----- Buttons and Input fields ----- */

.weld-button {
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	color: inherit;
	text-transform: uppercase;
	line-height: 1em;
	font-size: inherit;
}
.weld-button:hover {
	background: rgba(0, 0, 0, 0.1);
}
.weld-button:active {
	box-shadow: inset 0 1px 2px #555;
}
.weld-button .icon {
	display: inline-block;
	height: 4vh;
}
.weld-button .text {
	display: block;
	/*font-size: 0.7em;*/
}

input {
	display: inline-block;
	width: 100%;
	margin: 5vh 0;
}

/* ----- Page/screen list ----- */

.thumbnail {
	width: 100%;
	margin-bottom: 0.5em;
}

.thumbnail .image {
	width: 100%;
	height: 7rem;
	background-color: white;
}

.thumbnail .text {
	width: 100%;
	text-align: center;
}