*, body, fieldset {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	/* Inherit from <body>: */
	font-family: inherit;
	font-size: inherit;
	text-transform: inherit;
	color: inherit;
	border-color: inherit;
}

/* Initial values */
body {
	font-size: 16px;
	font-family: weld-light;
}

h2 {
	font-size: 1.4em;
	margin-bottom: 1em;
}

/* ----- Editor & content ----- */

.weld-canvas-background {
	z-index: 0;
	position: absolute;
	background: #808689;
	left: 0;
	top: 4em; /* same as weld-toolbar-top:height */
	width: 100%;
}

.weld-canvas {
	position: relative;
	width: 700px;
	height: 1000px;
	margin: 1em auto;
	background: white;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.weld-element {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	/* Not affected by <body>: */
	font-family: initial;
	font-size: initial;
	text-transform: initial;
	color: initial;
}
.weld-element:hover {
	border: 2px solid lightgray;
}
.weld-element.image {
	background-image: url('../images/girl-mom-photo-1445633883498-7f9922d37a3f.jpg');
	background-size: cover;
	height: 35%;
}
.weld-element.text {
	font-size: 4rem;
	font-family: 'Georgia';
	font-weight: bold;
	text-align: center;
	top: 40%;
}

/* ----- Editor panel (generic) and layers ----- */

.weld-editor-panel {
	position: fixed;
	box-sizing: border-box;
	z-index: 10;
	border-radius: 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	background: #efefef;
	color: #53585f;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.weld-editor-panel > * {
	flex-shrink: 0; /* never shrink */
}

/* ----- Side panels & Toolbar ----- */

.weld-editor-panel.side-panel {
	width: 12rem;
	padding: 1rem;
	top: 4em;
	bottom: 0;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: auto;
}
.weld-editor-panel.side-panel.right {
	right: 0;
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
}

.weld-toolbar {
	z-index: 10;
	padding: 0 1rem;
}
.weld-toolbar.top {
	height: 4em; /* same as side-panel:top */
	width: 100%;
}
.weld-toolbar.bottom {
	bottom: 0;
	left: 0;
	right: 0;
	height: 10vh;
	box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
}

.weld-toolbar hr {
	border: none;
}

.weld-logo {
	height: 4vh;
}

.icon-button {
	padding: 0 0.5em;
}
.icon-button:hover {
	background: rgba(0,0,0, 0.1);
}
.icon-button:active {
	box-shadow: inset 0 1px 2px #555;
}
.light-theme .icon-button.selected {
	background: rgba(0,0,0, 0.2);
}
.dark-theme .icon-button.selected {
	background: rgba(255,255,255, 0.2);
}

/* ----- Library ----- */

.weld-library {
	left: 46%;
	width: 19em;
	top: 4em;
	display: block; /* not flex */
	padding: 0.5rem;
	transition: all 0.2s;
}

.weld-library.hidden {
	height: 0;
	opacity: 0;
	pointer-events: none;
}

.library-objects > * {
	margin: 0 0.3em 0.8em 0;
}

/* ----- Dialog ----- */

.weld-dialog {
	z-index: 100;
	font-size: 1rem;
	top: 20rem;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 60%;
	max-width: 32rem;
	min-height: 15em;
	border-radius: 4px;
	padding: 1em;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
	flex-direction: column;
	justify-content: flex-start;
	transition: top 0.5s, left 0.5s, opacity 0.5s;
}

.weld-dialog.hidden {
	opacity: 0;
	pointer-events: none;
	top: 0;
	left: 100%;
}

button.close-button {
	position: absolute;
	right: 1em;
	top: 1em;
	height: auto;
}

button.close-button .icon {
	height: 1em;
}

/* ----- Buttons and Input fields ----- */

fieldset {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

button {
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	color: inherit;
	line-height: 1em;
	font-size: inherit;
}
button .icon {
	display: inline-block;
	height: 2em;
	font-family: "fontello";
}
button .text {
	display: block;
}

.big-button {
	background: white;
	border-radius: 0.2em;
	padding: 0 0.8em;
	height: 2.2em;
	line-height: 2em;
	box-shadow: 0 0.08em 0.1em rgba(0,0,0, 0.5);
}
.big-button:hover {
}
.big-button:active {
	box-shadow: 0 0.02em 0.1em rgba(0,0,0, 0.5);
}
.primary {
	background: lightgreen;
}

.side-panel .big-button {
	width: 100%;
}

/*input {
	display: inline-block;
	width: 100%;
	margin: 5vh 0;
}*/

/* Nice & simple: Input and Dropdown Menu */
input,
textarea,
select {
	outline: none;
	resize: none;
	box-sizing: border-box;
	background-color: white;
	border-radius: 0.2em;
	border: 1px solid gray;
	border-color: inherit;
	color: inherit;
	font-size: inherit;
	width: 100%;
	max-width: 20em;
	padding: 0.6em;
	margin: 0.2em;
}
input:hover,
textarea:hover,
select:hover {
	/*border-color: silver;*/
}
input:focus,
textarea:focus,
select:focus {
	/*border-color: darkgray;*/
}

select {
	text-transform: capitalize;
}

/* ----- Page/screen list ----- */

.thumbnail {
	width: 100%;
	margin-bottom: 0.5em;
}

.thumbnail .image {
	width: 100%;
	height: 7rem;
	background-color: white;
	background-image: url('../images/thumbnail.jpg');
	background-size: cover;
}

.thumbnail .text {
	width: 100%;
	text-align: center;
}

/* ----- Page/screen list ----- */

.animate-locale-change {
	animation: animation-locale-change 1s;
}

@keyframes animation-locale-change {
	from {
		transform: scale(1.3);
		text-shadow: 0 0 3px lightgreen;
	}
	to {
		transform: scale(1);
		text-shadow: none;
	}
}
